/* ========================================
   HEADER KOMPONENT STYLING - Header.module.css
   ======================================== */

/* header - CSS styling */
.header {
  color: #fff;
  padding: 1rem;
  text-align: center;
  background-color: black;
}
