/* ========================================
   APP COMPONENT STYLES - App.css
   ======================================== */

:root {
  --color-text: #eaeaea;
  --color-accent: #426ea7;
}
body {
  color: var(--color-text);
}
a:hover {
  color: var(--color-accent);
}

#root {
  height: 100%;
}

main {
  padding: 0;
}
