:root {
  --color-text: #eaeaea;
  --color-accent: #426ea7;
}
body {
  color: var(--color-text);
}
a:hover {
  color: var(--color-accent);
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

main {
  padding: 1rem;
}

