/* index.css */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
}

html {
  background: url("/grid_gray_robot.png") center/cover no-repeat #2d313b;
}

body {
  color: #eaeaea;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

